/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
/org3-artifacts/crypto-config/*
organizations/fabric-ca/ordererOrg/*
organizations/fabric-ca/examiners/*
organizations/fabric-ca/students/*
organizations/ordererOrganizations/*
organizations/peerOrganizations/*
system-genesis-block/*
log.txt
.env
.DS_Store
.vscode/
node_modules/
jspm_packages/
dist/
wallet/
!wallet/.gitkeep
bin/
/public/build/
*.tar.gz
*.zip
*.old